<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">
  <mdb-navbar-brand><a class="navbar-brand text-white font-weight-bold">Shaped Audio</a></mdb-navbar-brand>
</mdb-navbar>

<div class="d-flex justify-content-center flex-column mt-5">
  <div class="justify-content-center flex-center mt-5">
    <div class="md-form mr-4">
      <input
        type="time"
        id="input"
        class="form-control"
        step='1'
        min="00:00:00"
        max="20:00:00"
        [(ngModel)]="currentTime"
        mdbInput
        (change)="timeChanged()"
      />
    </div>
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      [(ngModel)]="value"
      (change)="changePosition()"
      tickInterval="1"
      step="1"
      min="0"
      max='{{duration}}'
      aria-label="units"></mat-slider>

    <div class="d-flex justify-context-around align-items-center ml-4">
      <div *ngIf="isPaused; else pause">
        <mdb-icon fas icon="play" (click)="play()" size="2x"
                  [ngClass]="{'active-play': !!currentFile, 'inActive-play': !currentFile}"></mdb-icon>
      </div>
<!--      <div class="mx-2">-->
<!--        <mdb-icon fas icon="stop" (click)="stop()"-->
<!--                  [ngClass]="{'inActive-stop': !currentFile, 'active-stop': !!currentFile}"></mdb-icon>-->
<!--      </div>-->
      <div class="ml-3">
        <mdb-icon fas icon="angle-double-left" size="2x"
                  [ngClass]="{'inActive-stop': !currentFile, 'active-stop': !!currentFile}"
        (click)="backward()"></mdb-icon>
      </div>
      <div class="mx-2">
        <mdb-icon fas icon="angle-double-right" size="2x"
                  [ngClass]="{'inActive-stop': !currentFile, 'active-stop': !!currentFile}"
        (click)="forward()"></mdb-icon>
      </div>
      <div class="ml-2">
        <select class="browser-default custom-select" [disabled]="!currentFile"
                [(ngModel)]="selectedSpeed" (change)="selectSpeed($event)">
          <option value="0">x0.4</option>
          <option value="1">x0.5</option>
          <option value="2">x0.6</option>
          <option value="3">x0.7</option>
          <option value="4">x0.8</option>
          <option value="5">x0.9</option>
          <option value="6">x1</option>
          <option value="7">x1.1</option>
          <option value="8">x1.2</option>
          <option value="9">x1.3</option>
          <option value="10">x1.4</option>
          <option value="11">x1.5</option>
          <option value="12">x1.6</option>
          <option value="13">x1.7</option>
          <option value="14">x1.8</option>
          <option value="15">x1.9</option>
          <option value="16">x2</option>
        </select>
      </div>
    </div>
  </div>
  <div>
    <app-upload-file #filesUploader
                     (uploadDone)="uploadDone()"
                     (selectedFile)="selectedFile($event)">
    </app-upload-file>
  </div>

</div>

<ng-template #pause>
  <mdb-icon fas icon="pause"
            size="2x"
            style="cursor:pointer;"
            class="red-text" (click)="play()" [ngClass]="{'inActive-stop': !currentFile}"></mdb-icon>
</ng-template>



