mat-slider {
  width: 300px;
}

.active-play {
  color: #35c571;
  cursor: pointer;
}

.active-stop {
  color: #787070;
  cursor: pointer;
}

.inActive-stop {
  color: #a6a6a8;
}

.inActive-play {
  color: #A6A6A8FF;
}

::ng-deep .mat-slider-wrapper {
  .mat-slider-thumb-container {
    .mat-slider-thumb-label {
      width: 47px;
      height: 47px;
      top: -60px;
      right: -25px;
    }
  }
}
